<!DOCTYPE html>
<html>
<head>
  <title>Authentication</title>
  <link rel="stylesheet" href="/stylesheets/auth.css">
</head>
<body>
  <h2>Chat Authentication</h2>
  <div>
    <button id="Login" onclick="Redirect_to_Login()">Login</button>
    <button id="Sign Up" onclick="Redirect_to_Signup()">Sign Up</button>
  </div>
  <script>
    function Redirect_to_Login(){
      let newURL = window.location.href + "login"
      window.location.href = newURL;
      };
    function Redirect_to_Signup(){
      let newURL = window.location.href + "signup"
      window.location.href = newURL;
      };

  </script>
</body>
</html>
