<!DOCTYPE html>
<html>
<head>
  <title>Github(Abhijeet1005)</title>
  <link rel="stylesheet" href="/stylesheets/auth.css">
  <style>

  </style>
</head>
<body>

  <p class="line-1 anim-typewriter">Chat Authentication</p>
  <div class="wrapper">
    
    <a href="/login" class="fancy-button bg-gradient1"><span><i class="fa fa-ticket"></i>LOGIN</span></a>
    <a href="/signup" class="fancy-button bg-gradient1"><span><i class="fa fa-ticket"></i>SIGNUP</span></a>
    
</body>
</html>
