<!DOCTYPE html>
<html>
  <head>
    <title>Github(Abhijeet1005)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    
    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" placeholder="User for this window: <%= user%>"/><button>Send</button><button id="Home_button" onclick="redirect_home()">Home</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>

      let socket = io();
      const user = "<%= user %>";
      let form = document.getElementById('form');
      let input = document.getElementById('input');
      let messages = document.getElementById('messages');
      
      form.addEventListener('submit', function(e) {
        e.preventDefault();
        if (input.value) {
          socket.emit('chat message', `(${user}) ${input.value}`);
          //console.log(document.cookie)
          input.value = '';
        }
      });
    
      socket.on('chatmessage_return', function(message_list) {
        messages.innerHTML = '';
        for (let msg of message_list) {
          let item = document.createElement('li');
          item.textContent = msg;
          messages.appendChild(item);
        }
    
        // Scroll to the latest message
        messages.scrollTop = messages.scrollHeight;
      });
    
      function redirect_home(){
        let newURL = "/";
        window.location.href = newURL;
      };
    </script>
  </body>
</html>
