<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div class="container">
        <h2>Login</h2>

        <% if (errorMessage) { %>
            <p class="error-message"><%= errorMessage %></p>
        <% } %>

        <form id="login_form" action="login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" id="login_button" value="Login"/>
        </form>
        <p>Don't have an account? <a href="signup">Sign up</a></p>
       
    </div>
</body>
</html>
