<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sign-Up Page</title>
<link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div class="container">
        <h2>Sign Up</h2>
        <% if (errorMessage) { %>
            <p class="error-message"><%= errorMessage %></p>
        <% } %>
        <form action="signup" method="post">
            <label for="newUsername">Username:</label>
            <input type="text" id="newUsername" name="newUsername" required>
            <br>
            <label for="newPassword">Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>
            <br>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
            <br>
            <input type="submit" value="Sign Up">
        </form>
        <p>Already have an account? <a href="login">Login</a></p>
    </div>
</body>
</html>
